{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <h1>列表页面</h1>

    <table class="table table-bordered">
        <thead>
         <tr>
             {% for head in head_list %}
               <th>{{ head }}</th>
             {% endfor %}

         </tr>
        </thead>
        <tbody>
           {% for data_list in new_data_list %}
               <tr>
                {% for data in data_list %}
                  <td> {{ data }}</td>
                {% endfor %}

               </tr>
           {% endfor %}

        </tbody>
    </table>
</div>
</body>
</html>