{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/stark/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <h1>列表页面</h1>
    {% if cl.add_btn %}
     <a href="{{ cl.add_url }}"><button class="btn btn-primary">添加</button></a>
    {% endif %}

    <table class="table table-bordered">
        <thead>
         <tr>
             {% for head in cl.head_list %}
               <th>{{ head }}</th>
             {% endfor %}

         </tr>
        </thead>
        <tbody>
           {% for data_list in cl.body_list %}
               <tr>
                {% for data in data_list %}
                  <td> {{ data }}</td>
                {% endfor %}

               </tr>
           {% endfor %}

        </tbody>
    </table>

     <nav aria-label="Page navigation">
            <ul class="pagination ">
                {{cl.pageObj.page_html|safe }}
            </ul>
       </nav>
</div>
</body>
</html>